@media (min-width: 1024px){
    /* Картка кота */
    .card-of-cat{
        background-color: #8CBED6;
        width: calc(100% - 60px);
        height: 480px;
        border-radius: 10px;
        border: 6px solid #483C32;
        box-shadow: 5px 5px 15px #00000080;
        margin: 0 10px;
        padding: 10px;
    }
    .card-of-cat img{
        width: 300px;
        height: 325px;
        border-radius: 53px;
        border: 4px dashed #EFDFBB;
    }
    .img-bg-brown{
        width: 308px;
        height: 333px;  
        border-radius: 53px;
        background-color: #483C32;
    }
    .card-of-cat .standart-text{
        font-weight: 600;
    }
    .card-of-cat .right-side button{
        background-color: #8CBED6;
        border-bottom: solid 4px #483C32;
        padding-left: 0;
        padding-right: 10px;
    }

    .cat{
        width: 200px;
    }

    /* Галерея з котами */
    .galery {
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
    }
}

@media (max-width: 600px){
    /* Картка кота */
    .card-of-cat{
        width: 66vw;
        background-color: #8CBED6;
        border-radius: 53px;
        border: 6px solid #483C32;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        margin: 0 3px;
    }
    .slide,
    #cat-story{
        width: 95%;
    }
    .slide{
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
    }
    #cat-name{
        width: 70%;
        background-color: #8CBED6;
        border-radius: 53px;
        margin: 0 auto;
    }
    /* фото кота */
    .card-of-cat img{
        width: 66vw;
        height: 36.83vh;
        border-top-left-radius: 47px;
        border-top-right-radius: 47px;
    }
    #cat-story{
        margin-bottom: 25px;
    }

    /* Галерея з котами */
    .galery {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .cat{
        width: 140px;
    }
}

/* Анкети котів */
.our-cats-catalog a{
    margin-top: 20px;
}
.our-cats-catalog button:not(#shelter-cat){
    background-color: #483C32;
    color: #8CBED6;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 20px;
}
#shelter-cat{
    margin-top: 20px;
}

/* Інші коти */
.frame-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Галерея з котами */
.galery {
    display: grid;
}
/* Картка кота в галереї */
.cat {
    background-color: #483C32;
    border-radius: 10px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 10px;
    text-align: center;
    transition: all 200ms ease ;
}
.cat:hover{
    position: relative;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.6);
    border: dashed 4px #8CBED6;
}
.cat:active{
    background-color: #EFDFBB;
    border: solid 4px #483C32;
}

.cat img {
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

p.cursive-text{
    color: #8CBED6;
    font-size: 2.5em;
}

.qsh-overlay .overlay-content-brown,
.overlay-content-brown .form-container{
    width: 70%;
}
.qsh-overlay textarea{
    width: 100%;
    height: 80px;
    margin: 0 auto;
}

.survery-overlay form{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 20px;
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

legend {
    color: #F6E6A8;
    margin-bottom: 10px;
    font-weight: bold;
}

label {
    display: block;
    color: #E0E0E0;
    margin: 5px 0;
}

input[type="radio"] {
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.cancel {
    background-color: #E57373;
    color: white;
}

button.submit {
    background-color: #4CAF50;
    color: white;
}